PyQt6==6.6.0
PyQtWebEngine==5.15.6
Orange3==3.36.2
Orange3-Text==1.14.0
Orange3-network==1.8.0
pandas==2.1.2
spacy==3.7.2
dhtmlparser3==3.0.17
textblob==0.17.1
textblob-nl==0.0.1
pydot==1.4.2
graphviz==0.20.1