PyQt6
PyQtWebEngine
Orange3
Orange3-Text
Orange3-network
pandas
spacy
nltk
dhtmlparser3
textblob
textblob-nl
pydot
graphviz
scipy==1.12.0
thefuzz
beautifulsoup4
coverage
sphinx
recommonmark
transformers
torch
pytest
